body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  color: #17a2b8 !important;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #004953;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-social-icons .fb a:hover {
  color: #3B5998;
}

.list-social-icons .twitter a:hover {
  color: #0084b4;
}

.list-social-icons .linkedin a:hover {
  color: #007bb6;
}

.list-social-icons .github a:hover {
  color: #333;
}

.list-icons i:hover, .list-skill i:hover {
  color: white;
}

.list-icons {
  font-size: 3rem;
}

.list-skill {
  font-size: 1.125rem;
  font-weight: 600;
}

.list-skill > .row > div {
  margin-bottom: 1rem;
}

.list-certification li {
  padding-bottom: .75rem;
}

.list-skill .row .row {
  padding: 0.25rem;
  border-radius: 0.125rem;
  transition: background-color 1s;
}

.list-skill .row .row:hover {
  background-color: rgba(23, 162, 184, 0.2);
}

.alert-heading + div i {
  background-color: #17a2b8;
  border-radius: .125rem;
  padding: .125rem;
  color: whitesmoke;
  font-size: 1.125rem;
}

.alert-heading + div.proficient i {
  background-color: #004953;
}

.alert-heading.text-warning + div i {
  background-color: #BD5D38;
}

.ib {
  display: inline-block;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #004953 !important;
}

.text-primary {
  color: #004953 !important;
}

.text-light {
  color: #BD5D38 !important;
}

a {
  color: #004953;
}

a:hover, a:focus, a:active {
  color: #000607;
}

.progress {
  border-radius: .125rem;
  height: 1.125rem;
}

.progress-bar {
  background-color: #188781;
}

.carousel {
  background-color: rgba(23, 162, 184, 0.2);
  border-radius: .25rem;
}

.carousel p {
  color: darkslategray;
  min-height: 5rem;
}

@media screen and (max-width: 767px) {
  .carousel p {
    min-height: 10rem;
  }
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel-indicators li {
  background-color: #17a2b8;
}

.carousel-indicators .active {
  background-color: #004953;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 0 8px #868e96;
  background-color: rgba(23, 162, 184, 0.4);
}
