// Global styling for this template

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

body {
  @include body-font;
  padding-top: 54px;
  color: $black;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.8;
  background-color: transparent;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

//region Heading
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  color: #17a2b8 !important;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

//endregion

//region List
.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-social-icons {
  .fb a:hover {
    color: #3B5998;
  }
  .twitter a:hover {
    color: #0084b4;
  }
  .linkedin a:hover {
    color: #007bb6;
  }
  .github a:hover {
    color: #333;
  }
}

.list-icons, .list-skill {
  i {
    &:hover {
      color: white;
    }
  }
}

.list-icons {
  font-size: 3rem;
}

.list-skill {
  font-size: 1.125rem;
  font-weight: 600;
  > .row > div {
    margin-bottom: 1rem;
  }
}

.list-certification li {
  padding-bottom: 1rem;

  i {
    margin-top: .25rem;
  }
}

.list-skill {
  .row .row {
    padding: $skill-base-spacing*2;
    border-radius: $skill-base-spacing;
    transition: background-color 1s;
    &:hover {
      background-color: transparentize($cyan, .8);
    }
  }
}

//endregion

//region Alert
.alert-heading + div {
  i {
    background-color: $cyan;
    border-radius: .125rem;
    padding: .125rem;
    color: whitesmoke;
    font-size: 1.125rem;
  }
}

.alert-heading + div {
  div.proficient i {
    background-color: $primary;
  }
}

.alert-heading.text-warning + div {
  i {
    background-color: $orange;
  }
}

//endregion

//region Utility
.ib {
  display: inline-block;
}

.bg {
  background-color: transparentize($primary, .4);
  border-radius: 2px;
  padding: 8px;
}

.info {
  font-family: "Open Sans", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 1.125rem;
}

//endregion