// Global styling for this template

body {
  @include body-font;
  padding-top: 56px;
  font-size: 1.125rem;
  font-weight: 600;
  color: $gray-200;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

//region Heading
h1,
h2,
h3,
h4,
h5,
h6 {
  @include subtitle-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  color: $blue !important;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include body-font;
  font-size: 1.25rem;
}

//endregion

//region List
.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-social-icons {
  .fb a:hover {
    color: #3B5998;
  }
  .twitter a:hover {
    color: #0084b4;
  }
  .linkedin a:hover {
    color: #007bb6;
  }
  .github a:hover {
    color: #333;
  }
}

.list-icons, .list-skill {
  i {
    &:hover {
      color: white;
    }
  }
}

.list-icons {
  font-size: 3rem;
}

.list-skill {
  font-size: 1.125rem;
  font-weight: 600;
  > .row > div {
    margin-bottom: 1rem;
  }
}

.list-certification li {
  padding-bottom: .75rem;
}

.highlight{
  padding: $skill-base-spacing*2;
  border-radius: $skill-base-spacing;
  transition: background-color .75s;
}

.highlight:hover{
  background-color: transparentize($cyan, .8);
}

.list-skill {
  .row .row {
    @extend .highlight;
    &:hover {
      @extend .highlight;
    }
  }
}

//endregion

//region Alert
.alert-heading + div {
  i {
    background-color: $cyan;
    border: 1px solid whitesmoke;
    border-radius: .125rem;
    padding: .125rem;
    margin-right: .125rem;
    color: whitesmoke;
    font-size: 1.125rem;
  }
}

.alert-heading + div.proficient {
  i {
    background-color: $primary;
  }
}

.alert-heading.text-warning + div {
  i {
    background-color: $orange;
  }
}
//endregion

//region Utility
.ib {
  display: inline-block;
}

.info {
  font-family: "Open Sans", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 1.125rem;
}

b {
  font-weight: bolder;
}
//endregion