<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="https://parvezmrobin.github.io">
    <meta name="description" content="HEX to RGB or RGBA and RGB or RGBA to HEX Calculator.">
    <meta name="keywords" content="hex, rgb, rgba, calculator, generator, converter">

    <title>Hex to RGB Converter | Parvez M Robin</title>

    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../vendor/vue-swatches/css/vue-swatches.min.css">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">

    <style>
        body {
            font-family: 'Overlock', cursive;
        }

        #content {
            min-height: 100vh;
        }

        @media screen and (min-width: 576px) {
            .card {
                min-width: 576px;
            }
        }

        @media screen and (min-width: 992px) {
            .card {
                min-width: 768px;
            }
        }

        canvas {
            display: block;
            vertical-align: bottom;
        }

        #background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .invalid-feedback {
            font-size: .875rem;
            color: black;
        }

        .btn-outline-white {
            border-color: white;
            background-color: transparent;
            color: white;
        }

        .btn-outline-white:hover, .btn-outline-white:focus {
            border-color: silver;
            background-color: white;
            color: var(--primary);
        }

        .btn-outline-dark-teal {
            border-color: #004953;
            background-color: transparent;
            color: white;
        }

        .btn-outline-dark-teal:hover, .btn-outline-dark-teal:focus {
            border-color: #004953;
            background-color: #004953;
            color: white;
        }

        .transparent {
            opacity: .85;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="background" v-bind:style="bg"></div>
    <div class="d-flex align-items-center justify-content-center" id="content">
        <div class="card bg-info transparent text-white">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">
                            <h3>Hex to RGB</h3>
                        </div>
                        <div class="col">
                            <swatches class="float-right" popover-to="left"
                                      data-toggle="tooltip" data-placement="left" title="Choose Color"
                                      colors="text-advanced" v-model="swatch" @input="toBoth"></swatches>
                        </div>
                    </div>
                </div>
                <form @submit.prevent="toRGB" action="">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-md" for="hex">Hex Value</label>
                        <div class="col-12 col-md-7 col-lg-8">
                            <div class="input-group">
                                <input type="text" id="hex" v-model="hex" class="form-control"
                                       placeholder="e.g. #fff, #004953, #004953bb">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-dark-teal rounded-right"
                                            data-toggle="tooltip" data-placement="left" title="Copy to clipboard"
                                            @click="copyHex">
                                        Copy
                                    </button>
                                </div>
                                <div class="invalid-feedback" v-text="error.hex"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <button type="submit" class="btn btn-outline-white">
                                <i class="icon-arrow-down-circle"></i>
                                Convert
                            </button>
                        </div>
                    </div>
                </form>
                <form @submit.prevent="toHex" action="">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-md" for="rgb">RGB Value</label>
                        <div class="col-12 col-md-7 col-lg-8">
                            <div class="input-group">
                                <input type="text" id="rgb" v-model="rgb" class="form-control"
                                       placeholder="e.g. rgb(10, 20, 30), rgba(10, 20, 10, .5)">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-dark-teal rounded-right"
                                            data-toggle="tooltip" data-placement="left" title="Copy to clipboard"
                                            @click="copyRGB">
                                        Copy
                                    </button>
                                </div>
                                <div class="invalid-feedback" v-text="error.rgb"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <button type="submit" class="btn btn-outline-white">
                                <i class="icon-arrow-up-circle"></i>
                                Convert
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <nav class="navbar fixed-bottom bg-primary transparent text-white">
        <div class="mx-auto text-center">
            &copy; Created and maintained by
            <a class="navbar-brand text-warning" href="https://parvezmrobin.github.io">Parvez M Robin</a>
        </div>
    </nav>
</div>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/vue/vue.js"></script>
<script src="../vendor/particles/particles.js"></script>
<script src="../vendor/vue-swatches/js/vue-swatches.min.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    })
</script>

<script>
    new Vue({
        el: '.container',
        components: {Swatches: VueSwatches.Swatches},
        data: function () {
            return {
                hex: '',
                rgb: '',
                swatch: '#004953',
                bg: {backgroundColor: '#004953'},
                error: {
                    rgb: '',
                    hex: '',
                },
            }
        },
        methods: {
            cleanUp: function () {
                $('.is-invalid').removeClass('is-invalid');
            },
            validateHex1: function (hex) {
                hex.split('').forEach(ch => {
                    if (!((ch >= '0' && ch <= '9') || (ch >= 'a' && ch <= 'f') || (ch >= 'A' && ch <= 'F'))) {
                        throw new Error('Invalid character ' + ch);
                    }
                });
            }, validateHex2: function (r, g, b, a) {
                if (isNaN(r) || r > 255) {
                    throw new Error('R is invalid');
                } else if (isNaN(g) || g > 255) {
                    throw new Error('G is invalid');
                } else if (isNaN(b) || b > 255) {
                    throw new Error('B is invalid');
                } else if ((a !== undefined && isNaN(a)) || a > 255) {
                    throw new Error('A is invalid');
                }
            }, convertHex: function () {
                let hex;
                if (this.hex[0] === '#') {
                    hex = this.hex.substr(1).trim();
                } else {
                    hex = this.hex.trim();
                }

                this.validateHex1(hex);

                let r, g, b, a;
                if (hex.length === 3 || hex.length === 4) {
                    r = parseInt(hex[0] + hex[0], 16);
                    g = parseInt(hex[1] + hex[1], 16);
                    b = parseInt(hex[2] + hex[2], 16);

                    if (hex.length === 4) {
                        a = parseInt(hex[3] + hex[3], 16);
                    }
                } else if (hex.length === 6 || hex.length === 8) {
                    r = parseInt(hex.substr(0, 2), 16);
                    g = parseInt(hex.substr(2, 2), 16);
                    b = parseInt(hex.substr(4, 2), 16);
                    if (hex.length === 8) {
                        a = parseInt(hex.substr(6, 2), 16);
                    }
                } else {
                    throw new Error('Length of color code must be either of 3, 4, 6 or 8');
                }
                this.validateHex2(r, g, b, a);

                let rgb;
                if (a === undefined) {
                    rgb = `rgb(${r}, ${g}, ${b})`;
                } else {
                    a = (a / 255);
                    if (a === 0 || a === 1) {
                        a = a.toString();
                    } else if (a < 1) {
                        a = a.toFixed(3);
                    }

                    rgb = `rgba(${r}, ${g}, ${b}, ${a})`;
                }

                return [rgb, `rgb(${r}, ${g}, ${b})`];
            },
            toRGB: function () {
                this.cleanUp();

                try {
                    [this.rgb, this.bg.backgroundColor] = this.convertHex();
                } catch (e) {
                    this.error.hex = e.message;
                    $('#hex').addClass('is-invalid');
                }
            },
            validateRGB: function (r, g, b) {
                if (Number.isNaN(r) || r < 0 || r > 255) {
                    throw new Error('R must be a valid number in range [0, 255]');
                } else if (Number.isNaN(g) || g < 0 || g > 255) {
                    throw new Error('G must be a valid number in range [0, 255]');
                } else if (Number.isNaN(b) || b < 0 || b > 255) {
                    throw new Error('B must be a valid number in range [0, 255]');
                }
            }, validateAlpha: function (a) {
                if (Number.isNaN(a) || a < 0 || a > 255) {
                    throw  new Error('A must be a valid number in range [0, 1]');
                }
            }, validatedRGBFloatStr: function (rFloatStr, gFloatStr, bFloatStr) {
                if (isNaN(rFloatStr)) {
                    throw new Error("R is not a valid number")
                } else if (isNaN(gFloatStr)) {
                    throw new Error("G is not a valid number")
                } else if (isNaN(bFloatStr)) {
                    if (bFloatStr.indexOf(',') !== -1) {
                        throw new Error("Did you mean RGBA?")
                    }
                    throw new Error("B is not a valid number")
                }
            }, validateAlphaFloatStr: function (aFloatStr) {
                if (isNaN(aFloatStr)) {
                    throw new Error("A is not a valid number")
                }
            },
            /**
             * @param {Number} n
             * @returns {string}
             */
            pad: function (n) {
                return n.toString(16).padStart(2, '0');
            },
            toHex: function () {
                this.cleanUp();

                try {
                    const rgb = this.rgb.trim();
                    const isRgba = rgb.startsWith('rgba');

                    let offset = rgb.indexOf('(') + 1;
                    let end = this.rgb.indexOf(',');
                    const rFloatStr = this.rgb.substring(offset, end);

                    offset = end + 1;
                    end = this.rgb.indexOf(',', offset);
                    const gFloatStr = this.rgb.substring(offset, end);

                    offset = end + 1;
                    end = this.rgb.indexOf(isRgba ? ',' : ')', offset);
                    const bFloatStr = this.rgb.substring(offset, end);

                    this.validatedRGBFloatStr(rFloatStr, gFloatStr, bFloatStr);

                    const r = Math.round(parseFloat(rFloatStr));
                    const g = Math.round(parseFloat(gFloatStr));
                    const b = Math.round(parseFloat(bFloatStr));

                    this.validateRGB(r, g, b);

                    const rStr = this.pad(r);
                    const gStr = this.pad(g);
                    const bStr = this.pad(b);

                    let a;
                    const hex = '#' + rStr + gStr + bStr;
                    if (isRgba) {
                        offset = end + 1;
                        end = this.rgb.indexOf(')', offset);
                        const aFloatStr = this.rgb.substring(offset, end);
                        this.validateAlphaFloatStr(aFloatStr);
                        a = Math.round(parseFloat(aFloatStr) * 255);
                        this.validateAlpha(a);
                        const aStr = a.toString(16).padStart(2, '0');
                        this.hex = hex + aStr;
                    } else {
                        this.hex = hex;
                    }
                    this.bg.backgroundColor = hex;
                } catch (e) {
                    this.error.rgb = e.message;
                    $('#rgb').addClass('is-invalid');
                }
            },
            toBoth: function () {
                this.hex = this.swatch;
                this.toRGB();
            },
            copyHex: function () {
                $('#hex').select();
                document.execCommand("copy");
            },
            copyRGB: function () {
                $('#rgb').select();
                document.execCommand("copy");
            }
        }
    })
</script>

<script>
    const config = {
        particles: {
            number: {
                value: 50,
                density: {
                    enable: true,
                    value_area: 800
                }
            },
            color: {
                value: '#ffffff'
            },
            shape: {
                type: 'circle',
                stroke: {
                    width: 0,
                    color: '#000000'
                },
                polygon: {
                    nb_sides: 5
                },
                image: {
                    src: 'img/github.svg',
                    width: 100,
                    height: 100
                }
            },
            opacity: {
                value: 0.5,
                random: false,
                anim: {
                    enable: false,
                    speed: 1,
                    opacity_min: 0.1,
                    sync: false
                }
            },
            size: {
                value: 3,
                random: true,
                anim: {
                    enable: false,
                    speed: 40,
                    size_min: 0.1,
                    sync: false
                }
            },
            line_linked: {
                enable: true,
                distance: 150,
                color: '#ffffff',
                opacity: 0.4,
                width: 1
            },
            move: {
                enable: true,
                speed: 6,
                direction: 'none',
                random: false,
                straight: false,
                out_mode: 'out',
                bounce: false,
                attract: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 1200
                }
            }
        },
        interactivity: {
            detect_on: 'window',
            events: {
                onhover: {
                    enable: true,
                    mode: 'repulse'
                },
                onclick: {
                    enable: true,
                    mode: 'push'
                },
                resize: true
            },
            modes: {
                grab: {
                    distance: 400,
                    line_linked: {
                        opacity: 1
                    }
                },
                bubble: {
                    distance: 400,
                    size: 40,
                    duration: 2,
                    opacity: 8,
                    speed: 3
                },
                repulse: {
                    distance: 150,
                    duration: 0.4
                },
                push: {
                    particles_nb: 4
                },
                remove: {
                    particles_nb: 2
                }
            }
        },
        retina_detect: true
    };

    particlesJS('background', config);
</script>
</body>
</html>